<!--<mat-sidenav mode="side" opened>-->
<!--<div *ngFor="let guild of guilds">-->
<!--<div (click)="selectGuild(guild)"-->
<!--*ngIf="guild.icon"-->
<!--[class]="guild.id === this.selectedGuildId ? 'selected-guild' : ''">-->
<!--<img [src]="'https://cdn.discordapp.com/icons/' + guild.id + '/' + guild.icon"-->
<!--class="round guild-icon">-->
<!--</div>-->
<!--<div (click)="selectGuild(guild)" *ngIf="!guild.icon"-->
<!--[class]="guild.id === this.selectedGuildId ? 'selected-guild no-img-guild round guild-icon' : 'no-img-guild round guild-icon'">-->
<!--<span>{{guild.name.charAt(0).toUpperCase()}}</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="no-img-guild round add-guild guild-icon"><span class="add-guild-span">+</span></div>-->
<!--</mat-sidenav>-->
