<mat-card class="container" fxLayout="column" fxFlex>
  <div class="player" fxLayout="column" fxLayoutGap="16px" fxFlex="25">
    <div class="player-container">
      <button mat-button (click)="stop()" style="border-left: 1px solid #ddd;"
        [disabled]="status === 'na' || !playlist || playlist.length <= 0">
        <mat-icon aria-hidden="true">stop</mat-icon>
      </button>
      <button mat-button (click)='playPause()' style="border-left: 2px solid #ccc; border-right: 2px solid #ccc;"
        [disabled]="status === 'na' || status === 'loading' || !playlist || playlist.length <= 0">
        <mat-icon *ngIf="status === 'loading'">
          <mat-spinner diameter="24"></mat-spinner>
        </mat-icon>
        <mat-icon *ngIf="status !== 'playing' && status !== 'loading'">play_arrow</mat-icon>
        <mat-icon *ngIf="status === 'playing'">pause</mat-icon>
      </button>
      <button mat-button style="border-right: 1px solid #ddd;" (click)='nextSong();'
        [disabled]="!playlist || playlist.length <= 0 || status === 'na'">
        <mat-icon aria-hidden="true">skip_next</mat-icon>
      </button>

      <div class="player-progress">
        <span *ngIf="duration">{{currentTime | secondsToMinutes}}</span>
        <mat-slider style="width: 100%" min="0" max="{{duration}}" value="{{currentTime}}" disabled></mat-slider>
        <span *ngIf="duration">-{{duration - currentTime | secondsToMinutes }}</span>
      </div>
    </div>

    <div class="current-song" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px"
      *ngIf="displayTitle && playlist && !!playlist[0]; else noTrack">
      <app-youtube-thumbnail [link]="playlist[0].thumbnail"></app-youtube-thumbnail>
      <div>
        <span class="mat-h2">{{ playlist[0].title }}</span>
        <span> - </span>
        <span class="mat-h3">{{ playlist[0].author.name }}</span>
      </div>
    </div>
    <ng-template #noTrack>
      <div class="no-music" fxLayout="row" fxLayoutAlign="center center">
        <span class="mat-h4">No music playing.</span>
      </div>
    </ng-template>
  </div>

  <div class="playlist" fxLayout="column" fxLayoutAlign="space-between" fxFlex="30">
    <div fxLayout="column" fxFlex>
      <h2>Playlist</h2>
      <table class="track" mat-table [dataSource]="dataSource" *ngIf="playlist && dataSource.data.length > 0">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element;">
            {{getTrackPosition(element)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="thumbnail">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="center center">
            <app-youtube-thumbnail [link]="element.thumbnail"></app-youtube-thumbnail>
          </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title</th>
          <td mat-cell *matCellDef="let element">
            {{element.title}}
            <div class="actions">
              <mat-icon [class.disabled]="!(getIndex(element) > 1)" matTooltip="Move upwards"
                (click)="moveUpwards(element)">
                arrow_upwards</mat-icon>
              <mat-icon [class.disabled]="!(getIndex(element) < playlist.length - 1)" matTooltip="Move downwards"
                (click)="moveDownwards(element)">arrow_downwards</mat-icon>
              <mat-icon matTooltip="Remove from playlist" (click)="removeFromPlaylist(element)">delete_outline
              </mat-icon>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div *ngIf="!playlist || dataSource.data.length === 0" fxLayout="row" fxLayoutAlign="center" fxFlex>
        <span>No music in the playlist.</span>
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>