@import 'src/styles.scss';

.container {
  height: 100%;
  min-height: 100%;

  .player-container {
    display: flex;
    font-size: 12px;

    .player-progress {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;

      * {
        margin: 2px;
      }
    }
  }

  .current-song, .playlist {
    margin-top: 16px;
    padding-top: 12px;
  }

  .playlist {

    .track {
      width: 100%;

      .actions {
        float:right;

        &>.disabled {
          color: grey;
          cursor: default;
          pointer-events: none;
        }

        &>*{
          cursor: pointer;
          color: $primary;
        }
      }

      .playlist-play {
        float: right;
      }
    }
  }

  app-youtube-thumbnail {
    max-height: 100px;
    max-width: 140px;
    margin: 6px;
  }
}

.no-music {
  margin-top: 24px;

  mat-icon {
    font-size: 124px;
    width: 124px;
    height: 124px;
  }
}

button:not(:disabled) {
  color: $primary;
}
