@import '../../../../styles';

.bot-status-container {
  display: flex;
  align-items: center;
  padding: 4px;
  border: 2px $accent solid;
  border-radius: 20px 0 0 0;
  background: $primary;
  color: white;

  * {
    margin-right: 4px;
  }

  .bot-status {
    color: #e3e3e3;
  }

  .bot-avatar-container {
    position: relative;

    .bot-avatar {
      border-radius: 999px;
      max-height: 50px;
      cursor: pointer;
    }

    .bot-status-badge {
      position: absolute;
      height: 12px;
      width: 12px;
      right: 2px;
      bottom: 6px;
      border-radius: 99px;

      &.green {
        background: green;
      }

      &.red {
        background: red;
      }

      &.blue {
        background: blue;
      }
    }
  }
}
