/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: bebas;
  src: url(assets/fonts/Bebas-Regular.otf) format("opentype");
}

@font-face {
  font-family: bebas-neue;
  src: url(assets/fonts/BebasNeue-Regular.otf) format("opentype");
}

@font-face {
  font-family: roboto-medium;
  src: url(assets/fonts/Roboto-Medium.ttf) format("opentype");
}

@font-face {
  font-family: comfortaa;
  src: url(assets/fonts/Comfortaa-Regular.ttf) format("opentype");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: 'comfortaa, sans-serif;');

@include mat-core($custom-typography);

$app-primary: mat-palette($mat-light-blue);
$app-accent: mat-palette($mat-deep-purple, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$green: mat-color(mat-palette($mat-light-green));

@include angular-material-theme($app-theme);

//Custom Styles

.mat-tab-label-content {
  width: 100%;
  height: 100%;

  & .drag-over {
    background: $primary;
  }
}

.full-width {
  width: 100%;
}

body {
  margin: 0;
}

/* Scrollbars */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}
