.guilds {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    gap: 6px;
    overflow-y: auto;
    box-sizing: border-box;

    .loader {
        transform: scale(0.5);
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .guild {
        position: relative;
        width: 42px;
        min-width: 42px;
        height: 42px;
        min-height: 42px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 24px;
        background-color: grey;
        cursor: pointer;
        user-select: none;
        box-shadow: 2px 2px 20px #0000002b;

        &.selected {
            &:before {
                content: "";
                position: absolute;
                left: -12px;
                height: 20px;
                width: 4px;
                background-color: white;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        &:hover {
            transform: scale(1.05);
        }

        .guild-icon {
            height: 42px;
            border-radius: 99px;
        }
    }
}
