<mat-toolbar color="primary">
  <h1>Discord Sound Board</h1>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <button mat-button style="margin-top: 10px;">
      <mat-icon class="sidenav-icon" svgIcon="songs"></mat-icon>
    </button>
    <br>
    <button mat-button>
      <mat-icon class="sidenav-icon" svgIcon="youtube"></mat-icon>
    </button>
    <br>
    <button mat-button>
      <mat-icon class="sidenav-icon" svgIcon="settings"></mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <div *ngFor="let category of categories">
            <mat-tab [id]="'category'" label="{{category.name}}">
              <div class="song-grid">
                <div *ngFor="let song of category.songs">
                  <button class="song-button" [id]="song.name" mat-raised-button
                          (click)="playSong(song.name, category.name)">
                    {{song.name}}
                  </button>
                </div>
                <div *ngFor="let file of files">
                  <button class="song-button" mat-raised-button>
                    {{file.name | removeExtension}}
                    <mat-progress-bar style="bottom: 0;  position: absolute;  left: 0;"
                                      *ngIf="progress"
                                      mode="determinate"
                                      [value]="progress[file.name].progress | async"></mat-progress-bar>
                  </button>
                </div>
                <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple/>
                <button class="song-button" mat-raised-button (click)="addSong(category.name)">
                  <mat-icon style="color: #67b363;">add_circle</mat-icon>
                </button>
              </div>
            </mat-tab>
          </div>
          <mat-tab disabled>
            <ng-template mat-tab-label>
              <button mat-icon-button (click)="createCategory()">
                <mat-icon style="color: green;">add_circle</mat-icon>
              </button>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
