<h1 mat-dialog-title>Upload a sound</h1>
<div id="form" mat-dialog-content>
  <input style="visibility: hidden" (change)="onFileSelection($event)" type="file" accept="audio/*" #file>
  <button (click)="file.click()" mat-raised-button>
    <mat-icon>attach_file</mat-icon>
    Choose a file
  </button>
  <span id="file-name">{{file.files && file.files.length > 0 ? file.files[0].name : null}}</span>
  <mat-form-field class="example-full-width">
    <label>
      <input matInput placeholder="Name" [(ngModel)]="name">
    </label>
  </mat-form-field>
</div>
<mat-progress-bar *ngIf="uploadProgress"
                  mode="determinate"
                  [value]="uploadProgress | async">
</mat-progress-bar>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button (click)="upload()">Upload</button>
</div>
