.playlist-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;

    .table-container {
        overflow-y: auto;
        max-height: 100%;

        .playlist-table {
            margin-top: 24px;

            th {
                text-align: left;
            }

            td {
                width: 25%;
            }

            .track {
                display: flex;
                align-items: center;
                max-height: 80px;
                gap: 6px;
                margin: 6px;
            }
        }
    }
}
