<mat-toolbar fxLayout="row" fxLayoutAlign="start center">
  <div class="title" fxLayout="row" fxLayoutAlign="space-evenly center">
    <img class="logo" src="../../assets/icons/app_full_sm.png">
    <h1>Discord SoundBoard</h1>
  </div>
  <div class="links" fxFlex fxLayout="row" fxLayoutAlign="start center">
    <div class="link" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px"
      [ngClass]="{'active': isLinkSelected('')}" (click)="navigateTo('')">
      <mat-icon>music_video</mat-icon>
      <span>SoundBoard</span>
    </div>
    <div class="link" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px"
      [ngClass]="{'active': isLinkSelected('youtube')}" (click)="navigateTo('youtube')">
      <mat-icon svgIcon="youtube"></mat-icon>
      <span>Youtube</span>
    </div>
  </div>
  <div class="search-container" fxLayout fxLayoutAlign="start center">
    <mat-icon>search</mat-icon>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="search" (ngModelChange)="onSearchChange()" />
      <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="profile">
    <img class="avatar">
  </div>
</mat-toolbar>
<!-- left panel -->
<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened>
    <div fxLayout="column" fxFlex>

      <!-- top part -->
      <div *ngIf="!!connectedUser" class="user" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px"
        (click)="disconnect()">
        <img [src]="'https://cdn.discordapp.com/avatars/' + connectedUser.id + '/' + connectedUser.avatar"
          class="avatar" alt="avatar">
        <div fxLayout="column" fxLayoutAlign="center space-between">
          <span class="welcome">Welcome,</span>
          <span class="username">{{connectedUser.username}}</span>
        </div>
        <!-- <app-bot-status></app-bot-status> -->
      </div>
      <div class="side-bottom" fxFlex fxLayout="column">
        <button class="bot-join" mat-stroked-button (click)="joinMyChannel()">
          <mat-icon>record_voice_over</mat-icon> Join my channel
        </button>
        <span class="label">Volume</span>
        <mat-slider [value]="state ? state.volume : 0" (change)="setVolume($event.value)" [disabled]="!state" min="0" max="1" step="0.1"></mat-slider>
        <div class="guilds" fxFlex fxLayout="column">
          <h2>Guilds</h2>
          <mat-spinner *ngIf="!guilds" fxFlexAlign="center"></mat-spinner>
          <div *ngIf="guilds" class="guilds-content" fxLayout="column" fxFlex>
            <div *ngFor="let guild of getGuilds()" class="guild" fxLayout="row" fxLayoutAlign="start center"
              fxLayoutGap="16px" [ngClass]="{'selected' : (this.selectedGuild && guild.id === this.selectedGuild.id)}"
              (click)="selectGuild(guild)">
              <img *ngIf="guild.icon" class="guild-icon"
                [src]="'https://cdn.discordapp.com/icons/' + guild.id + '/' + guild.icon" alt="guild" />
              <div *ngIf="!guild.icon" class="guild-icon" [style.background-color]="stringToRGB(guild.name)">
                <span>{{guild.name.charAt(0).toUpperCase()}}</span>
              </div>
              <span class="name" fxFlex>{{guild.name}}</span>
            </div>
            <div class="guild add" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px"
              (click)="addBotToGuild()">
              <mat-icon class="guild-icon" [style.background-color]="'green'">add</mat-icon>
              <span class="name" fxFlex>Add to your server</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>