.mat-toolbar {
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

  .fill {
    flex: 1 1 auto;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .avatar {
      border-radius: 999px;
      max-height: 80%;
      cursor: pointer;
    }

    .username {
      margin-right: 14px;
    }
  }
}
