<mat-card-content>
  <mat-tab-group>
    <mat-tab *ngFor="let category of [{id: null, name: 'Default'}].concat(categories)" [id]="category"
      [label]="category.name">
      <ng-template mat-tab-label>
        <div appDropper [id]="category.id" class="mat-tab-label-content">
          {{category.name}}
        </div>
      </ng-template>
      <mat-toolbar color="accent" *ngIf="isEditing" @openClose class="edit-container">
        <button mat-raised-button [disabled]="!category.id" (click)="renameCategory(category)">
          Rename category
        </button>
        <button mat-raised-button [disabled]="!category.id" (click)="deleteCategory(category.id)" color="warn">
          Remove category
        </button>
      </mat-toolbar>
      <div class="container">
        <ng-container *ngFor="let sound of getSoundsForCategory(category.id)">
          <div class="sound-button" [class.editing]="isEditing" appDraggable [id]="sound.id"
            (click)="!isEditing ? onSoundClick(sound.id) : deleteSound(sound.id)">
            <div
              [style.background-image]="sound.image ? 'url(' + environment.api + '/image/' + sound.image.uuid + ')' : 'none'">
              <span [class.white]="sound.image" [class.black]="!sound.image">{{sound.name}}</span>
              <mat-icon *ngIf="isEditing" class="remove-icon">delete_outline</mat-icon>
            </div>
          </div>
        </ng-container>
        <button [matMenuTriggerFor]="addMenu" class="sound-button add-button" mat-raised-button>
          <mat-icon>add_circle</mat-icon>
        </button>
        <mat-menu #addMenu="matMenu">
          <button (click)="uploadSound(category.id)" mat-menu-item>
            <mat-icon>cloud_upload</mat-icon>
            <span>From Disk</span>
          </button>
          <button (click)="uploadFromYoutube(category.id)" mat-menu-item>
            <mat-icon>youtube_searched_for</mat-icon>
            <span>From Youtube</span>
          </button>
        </mat-menu>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card-content>
<div class="tab-options">
  <mat-slide-toggle [(ngModel)]="isEditing" id="edit-button" color="primary">Edit Mode</mat-slide-toggle>
  <button mat-stroked-button (click)="openCreateCategoryDialog()">
    <mat-icon style="color: #67b363;">add_circle</mat-icon> Create Category
  </button>
</div>