::ng-deep .mat-tab-header {
  margin-right: 100px;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

#edit-button {
  position: absolute;
  top: 13px;
  right: 12px;
  z-index: 1;
}

.edit-container {
  * {
    margin: 0 12px 0 12px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);

  & * {
    margin: 12px;
  }

  .sound-button {
    white-space: normal;
    z-index: 999;
    word-break: break-word;
    justify-content: center;
    height: 150px;
    width: 150px;
    font-size: 18px;
    mix-blend-mode: difference;
    background-size: cover;
    background-position: center;

    span {
      display: inline-block
    }

    &.sound-button-editing {
      position: relative;

      .remove-icon {
        font-size: 21px;
        margin: 0;
        display: none;
      }

      &:hover {
        * {
          animation-fill-mode: forwards;
          -webkit-animation-duration: 0.2s;
          -moz-animation-duration: 0.2s;
          -o-animation-duration: 0.2s;
          animation-duration: 0.2s;
        }


        @keyframes slidein {
          from {
            right: 100%;
          }

          to {
            right: 0;
          }
        }

        @keyframes fadeout {
          from {
            opacity: 1;
          }

          to {
            opacity: 0;
          }
        }

        span {
          animation-name: fadeout;
        }

        .remove-icon {
          animation-name: slidein;
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }

  .add-button {

    mat-icon {
      color: #67b363;
    }
  }
}
