<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab *ngFor="let category of [{id: null, name: 'Default'}].concat(categories)" [id]="category" [label]="category.name">
        <ng-template mat-tab-label>
          <div appDropper [id]="category.id" class="mat-tab-label-content">
            {{category.name}}
          </div>
        </ng-template>
        <div class="container">
          <div *ngFor="let sound of getSoundsForCategory(category.id)">
            <button appDraggable [id]="sound.id" (click)="onSoundClick(sound.id)" class="sound-button" mat-raised-button>
              {{sound.name}}
            </button>
          </div>
          <button [matMenuTriggerFor]="addMenu" class="sound-button add-button" mat-raised-button>
            <mat-icon>add_circle</mat-icon>
          </button>
          <mat-menu #addMenu="matMenu">
            <button (click)="uploadSound(category.id)" mat-menu-item>
              <mat-icon>cloud_upload</mat-icon>
              <span>From Disk</span>
            </button>
            <button (click)="uploadFromYoutube(category.id)" mat-menu-item>
              <mat-icon>youtube_searched_for</mat-icon>
              <span>From Youtube</span>
            </button>
          </mat-menu>
        </div>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button (click)="openCreateCategoryDialog()" mat-icon-button>
            <mat-icon style="color: green;">add_circle</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
