.header {
    position: fixed;
    height: 60px;
}

.guilds {
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100% - 140px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 66px;
}

.main {
    position: fixed;
    top: 60px;
    left: 66px;
    height: calc(100% - 140px);
    width: calc(100% - 66px);
    background-color: rgb(56, 56, 56);
}
