@import 'src/styles';

:host {
  background-color: $primary;
  background: linear-gradient(to top right, rgba(3, 169, 244, 1) 35%, rgba(109, 5, 255, 0.6194852941176471) 100%);
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.icon {
  height: 22%;
}

.login-card {
  min-height: 48%;
  min-width: 32%;
  background-color: white;
  border-radius: 30px;
  padding: 22px;

  span {
    color: $primary;
    font-size: 4em;
  }

  button {
    min-width: 100%;
    font-size: 22px;
    min-height: 50px;
  }
}

.footer {
  color: white;
}
