package web

import "raver/audio"

const (
	guildID = "423590632582414346"
	userID  = "169143950203027456"
)

templ userIcon(user user) {
	<div>
		<img class="w-10 h-10 rounded-full" src={ "https://cdn.discordapp.com/avatars/" + user.ID + "/" + user.Avatar + ".png" }/>
	</div>
}

templ guildIcon(guild guild) {
	<div class="cursor-pointer hover:scale-110">
		<img class="w-10 h-10 rounded-full" src={ "https://cdn.discordapp.com/icons/" + guild.ID + "/" + guild.Icon + ".png" }/>
	</div>
}

templ home() {
	{{ user := userFromCtx(ctx) }}
	{{ guilds := guildsFromCtx(ctx) }}
	<div>
		<div class="flex flex-col gap-2 items-center bg-red-500"></div>
		<h1 class="text-blue-600">WORLD</h1>
		@userIcon(user)
		<div class="flex flex-col gap-2">
			for _, guild := range guilds {
				@guildIcon(guild)
			}
		</div>
	</div>
	<div
		class="flex items-center justify-center h-screen bg-cover bg-no-repeat font-nunito"
		style="background-image: url('https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/aa462558-0106-4268-9864-d34a4f35531f');"
	>
		<div class="grid grid-cols-[70%_30%] w-[95%] h-[95%] m-10 rounded-xl border border-white/50 bg-[rgba(16,21,61,0.5)] backdrop-blur-md shadow-[inset_0_0.5px_0_1px_rgba(255,255,255,0.23),inset_0_1px_0_0_rgba(255,255,255,0.6),0_4px_16px_rgba(0,0,0,0.12)]">
			<!-- LEFT CONTENT -->
			<div class="flex flex-col text-gray-200 h-full overflow-x-hidden">
				<form
					class="flex flex-col justify-between gap-2 p-6"
					hx-post="search"
					hx-target="#results"
				>
					<label for="search" class="text-lg font-bold">Search</label>
					<input name="search" class="p-2 border border-white/50 rounded-xl" type="text" placeholder=""/>
				</form>
				<div class="flex-1 flex flex-col overflow-auto gap-6 p-6" id="results"></div>
			</div>
			<!-- RIGHT CONTENT -->
			<div
				class="h-full"
				sse-connect="/player"
				sse-swap="player"
			></div>
		</div>
	</div>
}

templ track(track audio.TrackInfo) {
	<div
		class="flex flex-row gap-6 items-center transition duration-300 cursor-pointer hover:drop-shadow-[0_0_16px_rgba(168,85,247,0.7)]"
		hx-post="add"
		hx-target="#playlist"
		hx-swap="innerHTML"
		hx-vals={ `{"id":"` + track.ID + `"}` }
	>
		<div class="relative w-[60px] aspect-square rounded-lg border-2 border-purple-300/50 overflow-hidden shadow-lg">
			<img class="absolute inset-0 w-full h-full object-cover transition-transform duration-700 hover:scale-110 hover:rotate-3" src={ track.Thumbnail }/>
		</div>
		<div>
			<h2 class="font-medium">{ track.Title }</h2>
			<p class="text-sm text-gray-400">{ track.Artist }</p>
		</div>
		<p class="ml-auto text-sm text-gray-400">{ track.Duration.String() }</p>
	</div>
}
