package web

import (
	"log/slog"
	"net/http"
	"raver/audio"
	"raver/discord"
	"raver/youtube"
	"raver/youtube/goytdlp"
)

const (
	guildID = "423590632582414346"
	userID  = "169143950203027456"
)

templ home() {
	<div
		class="flex items-center justify-center h-screen bg-cover bg-no-repeat font-nunito"
		style="background-image: url('https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/aa462558-0106-4268-9864-d34a4f35531f');"
	>
		<div class="grid grid-cols-[70%_30%] w-[95%] h-[95%] m-10 rounded-xl border border-white/50 bg-[rgba(16,21,61,0.5)] backdrop-blur-md shadow-[inset_0_0.5px_0_1px_rgba(255,255,255,0.23),inset_0_1px_0_0_rgba(255,255,255,0.6),0_4px_16px_rgba(0,0,0,0.12)]">
			<!-- LEFT CONTENT -->
			<div class="flex flex-col text-gray-200 h-full overflow-x-hidden">
				<form
					class="flex flex-col justify-between gap-2 p-6"
					hx-post="search"
					hx-target="#results"
				>
					<label for="search" class="text-lg font-bold">Search</label>
					<input name="search" class="p-2 border border-white/50 rounded-xl" type="text" placeholder=""/>
				</form>
				<div class="flex-1 flex flex-col overflow-auto gap-6 p-6" id="results"></div>
			</div>
			<!-- RIGHT CONTENT -->
			<div class="grid grid-rows-2 border-l border-white/50 p-6 text-gray-200">
				<!-- SONGS -->
				<div>
					<h1 class="mb-6 text-lg font-bold">Queue</h1>
					<div id="playlist" class="space-y-4">
						<!-- Repeat for more songs -->
					</div>
				</div>
				<!-- MUSIC PLAYER -->
				<div class="flex flex-col items-center justify-center mt-6 p-6 rounded-xl bg-white/10 backdrop-blur-md shadow-inner">
					<div class="relative">
						<img class="rounded-full border-2 border-purple-200 max-w-[120px] aspect-square object-cover" src="images/album-cover.png"/>
						<span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-4 h-4 rounded-full bg-[rgba(17,6,58,0.7)] border-2 border-purple-200"></span>
					</div>
					<h2 class="mt-4 font-medium text-lg">Redemption</h2>
					<p class="text-sm text-gray-300 mb-4">Besomorph & Coopex</p>
					<input type="range" class="w-full accent-purple-700 mb-4"/>
					<div class="flex items-center justify-center gap-6">
						<button class="w-10 h-10 flex items-center justify-center rounded-full bg-purple-300/50 text-white hover:scale-95 transition"><i class="fa-solid fa-backward"></i></button>
						<button class="w-12 h-12 flex items-center justify-center rounded-full bg-purple-300/50 text-white hover:scale-95 transition"><i class="fa-solid fa-play"></i></button>
						<button class="w-10 h-10 flex items-center justify-center rounded-full bg-purple-300/50 text-white hover:scale-95 transition"><i class="fa-solid fa-forward"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
}

templ track(track audio.TrackInfo) {
	<div
		class="flex flex-row gap-6 items-center transition duration-300 cursor-pointer hover:drop-shadow-[0_0_16px_rgba(168,85,247,0.7)]"
		hx-post="add"
		hx-target="#playlist"
		hx-swap="innerHTML"
		hx-vals={ `{"id":"` + track.ID + `"}` }
	>
		<div class="relative w-[60px] aspect-square rounded-lg border-2 border-purple-300/50 overflow-hidden shadow-lg">
			<img class="absolute inset-0 w-full h-full object-cover transition-transform duration-700 hover:scale-110 hover:rotate-3" src={ track.Thumbnail }/>
		</div>
		<div>
			<h2 class="font-medium">{ track.Title }</h2>
			<p class="text-sm text-gray-400">{ track.Artist }</p>
		</div>
		<p class="ml-auto text-sm text-gray-400">{ track.Duration.String() }</p>
	</div>
}

templ playlist(tracks []*audio.Track) {
	for _, track := range tracks {
		<div class="grid grid-cols-[60px_1fr_auto] items-center gap-3">
			<div class="relative w-[60px] h-[45px] rounded overflow-hidden border border-gray-400/50">
				<img class="object-cover w-full h-full" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/ea61baa7-9c4b-4f43-805e-81de5fc8aa2b"/>
				<div class="absolute inset-0 flex items-center justify-center bg-purple-400/60 opacity-0 hover:opacity-100 transition">
					<i class="fa-solid fa-play text-xl"></i>
				</div>
			</div>
			<div>
				<p class="text-xs text-gray-400">{ track.Artist }</p>
			</div>
			<span class="text-xs">{ track.Duration.String() }</span>
		</div>
	}
}

func Search(w http.ResponseWriter, r *http.Request) {
	query := r.FormValue("search")

	tracks, err := youtube.Search("", query, 20)
	if err != nil {
		http.Error(w, err.Error(), http.StatusInternalServerError)
		return
	}

	for _, t := range tracks {
		track(t).Render(r.Context(), w)
	}
}

func Add(bot *discord.Bot) http.HandlerFunc {
	return func(w http.ResponseWriter, r *http.Request) {
		id := r.FormValue("id")

		gbot, err := bot.Guild(guildID)
		if err != nil {
			handleError(w, err)
			return
		}

		// err = gbot.JoinUserChannel(userID)
		// if err != nil {
		// 	handleError(w, err)
		// 	return
		// }

		track, err := youtube.NewYoutube(goytdlp.NewYoutubeAdapter()).GetPlayableTrackFromYoutube(guildID, id)
		if err != nil {
			handleError(w, err)
			return
		}

		err = gbot.Player.Add(track)
		if err != nil {
			handleError(w, err)
			return
		}

		playlist(gbot.Player.Queue).Render(r.Context(), w)
	}
}

func handleError(w http.ResponseWriter, err error) {
	http.Error(w, err.Error(), http.StatusInternalServerError)
	slog.Error(err.Error())
	return
}
