package web

templ index() {
	<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="/static/style/app.css"/>
			<script src="/static/script/htmx.min.js"></script>
		</head>
		<body>
			@home()
		</body>
	</html>
}
