package web

templ index(guilds []Guild, selectedGuildID string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
			<script src="/static/js/htmx.min.js"></script>
			<script src="/static/js/sse.min.js"></script>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"/>
		</head>
		<body hx-ext="sse">
			@home(guilds, selectedGuildID)
		</body>
	</html>
}
