package web

import "raver/audio"

templ player(player *audio.Player) {
	<div class="h-full flex flex-col content-between justify-between border-l border-white/50 p-6 text-gray-200">
		<div>
			<h1 class="mb-6 text-lg font-bold">Queue</h1>
			<div id="playlist" class="space-y-4">
				for _, track := range player.Queue {
					<div class="grid grid-cols-[60px_1fr_auto] items-center gap-3">
						<div class="relative w-[60px] h-[45px] rounded overflow-hidden border border-gray-400/50">
							<img class="object-cover w-full h-full" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/ea61baa7-9c4b-4f43-805e-81de5fc8aa2b"/>
							<div class="absolute inset-0 flex items-center justify-center bg-purple-400/60 opacity-0 hover:opacity-100 transition">
								<i class="fa-solid fa-play text-xl"></i>
							</div>
						</div>
						<div>
							<p class="text-xs text-gray-400">{ track.Artist }</p>
						</div>
						<span class="text-xs">{ track.Duration.String() }</span>
					</div>
				}
			</div>
		</div>
		if len(player.Queue) == 0 {
			<div></div>
		} else {
			{{ track := player.Queue[0] }}
			<div
				class="flex flex-col items-center justify-center mt-6 p-6 rounded-xl bg-white/10 backdrop-blur-md shadow-inner"
			>
				<h2 class="mt-4 font-medium text-lg">{ track.Title }</h2>
				<p class="text-sm text-gray-300 mb-4">{ track.Artist }</p>
				<input type="range" class="w-full accent-purple-700 mb-4" disabled value={ player.Progress() }/>
				<div class="flex items-center justify-center gap-6 h-16">
					<button
						class="w-10 h-10 flex items-center justify-center rounded-full bg-purple-300/15 text-gray-800"
						disabled
					>
						<i class="bi bi-skip-backward text-gray-800"></i>
					</button>
					<button
						class="w-10 h-10 flex items-center justify-center rounded-full bg-purple-300/50 text-white hover:scale-95 transition cursor-pointer"
					>
						if player.State == audio.Playing {
							<i class="min-h-10 min-w-10 bi bi-pause" hx-post="/pause"></i>
						} else {
							<i class="min-h-10 min-w-10 bi bi-play" hx-post="/resume"></i>
						}
					</button>
					<button
						class="w-10 h-10 flex items-center justify-center rounded-full bg-purple-300/50 text-white hover:scale-95 transition cursor-pointer"
					>
						<i class="bi bi-skip-forward" hx-post="/skip"></i>
					</button>
				</div>
			</div>
		}
	</div>
}
